{% extends "base.html" %}

{% block content %}
<h2>Gestion des articles</h2>

<a href="{{ url_for('admin.article_create') }}">➕ Ajouter un article</a>

<hr>

{% for article in articles %}
    <div>
        <strong>{{ article["name"] }}</strong>
        ({{ article["genres"] }}) - {{ article["price"] }} €

        <a href="{{ url_for('admin.article_edit', article_id=article['id']) }}">Modifier</a>

        <form action="{{ url_for('admin.article_delete', article_id=article['id']) }}" method="post" style="display:inline;">
            <button type="submit">Supprimer</button>
        </form>
    </div>
    <hr>
{% endfor %}

{% endblock %}