{% extends "base.html" %}

{% block content %}
<h2>{% if article and article.id %}Modifier{% else %}Créer{% endif %} un article</h2>

<form method="post">

    <label>Nom</label><br>
    <input name="name" value="{{ article.name if article else '' }}"><br><br>

    <label>Genre</label><br>
    <select name="genres">
        {% for g in ["manga","figurine","textile","vaisselle","goodies"] %}
            <option value="{{ g }}" {% if article and article.genres == g %}selected{% endif %}>
                {{ g }}
            </option>
        {% endfor %}
    </select><br><br>

    <label>Univers</label><br>
    <input name="universe" value="{{ article.universe if article else '' }}"><br><br>

    <label>Image</label><br>
    <input name="image" value="{{ article.image if article else '' }}"><br><br>

    <label>Prix</label><br>
    <input name="price" type="number" step="0.01" value="{{ article.price if article else '' }}"><br><br>

    <label>Stock</label><br>
    <input name="stock" type="number" value="{{ article.stock if article else '' }}"><br><br>

    <label>Jour de sortie</label><br>
    <input name="release_day" value="{{ article.release_day if article else '' }}"><br><br>

    <button type="submit">Valider</button>

</form>

{% endblock %}